@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
.common-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 45px;
    border: 0px;
    border-radius: 8px;
    background: #E55473;
    margin: 40px 100px 40px 240px;
}

header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}

.header-text h1 {
    color: #272727;
    font-size: 80px;
    padding: 200px 150px 40px 240px;

}

.header-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    padding-left: 240px;
    padding-right: 250px;

}



.header-img {
    width: 600px;
    height: 800px;
    margin-top: 50px;
    margin-right: 250px;
}